* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #212529;
  color: #ffffff;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center;
}

.logo {
  font-weight: 900;
}

.logo-letter {
  color: #adf700;
}

.container {
  padding: 10px 10%;
}

.hero-text {
  margin-top: 20%;
  font-size: 25px;
}

.hero-text h1 {
  font-size: 40px;
  margin-top: 20px;
}

.hero-text h1 span {
  color: #adf700;
}

.btn-branding {
  padding: 10px 15px;
  border: 1px solid #adf700;
}

.btn-branding a {
  color: #ffffff;
  text-decoration: none;
}

.btn-branding:hover {
  border: 1px solid #adf700;
  font-size: larger;
  box-shadow: 0px 0px 20px rgba(173, 247, 0, 0.2);
}

.social-links a {
  margin: 0 20px;
  color: #adf700;
  background: #353535;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: #353535;
  background: #adf700;
}

footer p {
  color: #525252;
  font-size: 15px;
}

footer p a {
  color: #525252;
}

@media only screen and (max-width: 600px) {
  .hero-text {
    font-size: 16px;
  }

  .hero-text h1 {
    font-size: 30px;
  }

  footer p {
    font-size: 10px;
  }
}
