* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #080808;
  color: #ffffff;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #adf700;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.hero-text {
  margin-top: 20%;
  font-size: 25px;
}

.hero-text h1 {
  font-size: 40px;
  margin-top: 20px;
}

.hero-text h1 span {
  color: #adf700;
  font-weight: bold;
}

.btn-branding {
  padding: 10px 15px;
  border: 1px solid #adf700;
}

.btn-branding a {
  color: #ffffff;
  text-decoration: none;
}

.btn-branding:hover {
  border: 1px solid #adf700;
  font-size: larger;
  box-shadow: 0px 0px 20px rgba(173, 247, 0, 0.2);
}

.social-links a {
  margin: 0 20px;
  color: #adf700;
  background: #353535;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: #353535;
  background: #adf700;
}

footer p {
  color: #525252;
  font-size: 15px;
}

footer p a {
  color: #525252;
}
